.bj{background:#f5f5f5;}
*{margin:0; padding:0; }
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input, button, select, textarea {
outline: none;
-webkit-appearance: none;
border-radius: 0;
}
input::-webkit-input-placeholder {color: #999999 !important;}
input:-moz-placeholder {color: #999999 !important;}
input::-moz-placeholder {color: #999999 !important; }
input:-ms-input-placeholder {color: #999999 !important;}
.clear{clear:both;}

.nav_crumbs{ 
	width:1200px;  height: 60px; margin: 17px auto 0 auto; line-height:60px; font-size:14px; color:#333; 
}
.nav_crumbs span{color:#fe5254;}
.article_list{width:1200px; height:auto; margin: 0 auto 100px auto; color:#333;}
.a_list_left{width:840px; height:auto; float:left; background-color:#fff }
.a_list_bottom{width:100%; height:auto; color:#383838; padding-bottom:100px; }
.a_list_nav{width:810px; height:78px; padding-top:28px; padding-left:30px;   line-height: 50px; font-size: 16px; border-bottom: 1px solid #dbdbdb}
.list_nav_li{width:122px; text-align: center; line-height: 46px; float:left;}
.list_nav_li.active{ border-bottom:4px solid #fe5254; }
.content{ color:#999; height:auto; width:100%;font-size: 12px;line-height: 30px; padding:30px;}
.title{font-size:18px; color:#333;}
.miaoshu{width:100%;}
.miaoshu .date{float:right; width:200px; height:30px;}
.list{margin-bottom:20px; width:100%; background-color: #fff; padding-bottom:30px; border-bottom:1px solid #dbdbdb;}
.jj{color:#666; font-size:14px;}
/*右侧 */
.a_list_right{width:360px;  height:auto;  padding-left:15px; float:left; }
.a_list_right_t{ width:345px;  background: #fff; padding: 21px  32px 30px 29px; margin-bottom:20px;  }
.btn{width:140px; height:30px; padding:0; margin:10px 0; border-radius: 19px;border:1px solid #fe5254; line-height: 30px; text-align: center; background-color: #fff; color:#fe5254;font-size: 14px;}
.btn:hover {  background: #fe5254;  color:#fff;  box-shadow: 0px 10px 10px #ffdcdc;}
.btn a:hover{color:#fff;}
.btn a{ padding:0;  text-decoration: none; color:#fe5254; }
.right_title{width:100%; height:50px; font-size:16px; line-height: 50px; padding:5px 0; color:#333;}
.right_money{font-size:14px; height:47px; line-height: 47px; color:#666; }
.right_money a{text-decoration:underline; color:#fe5254;  }
.right_input{height:55px; padding-top:10px; margin-bottom:10px; line-height: 34px; border-bottom:1px solid #dbdbdb;}
.right_input input{border: 0;width:80%;font-size: 14px;outline:0;line-height:32px;height:34px;}
.right_btn{width:100%; height:38px; margin:10px 0; border-radius: 19px;border:1px solid #fe5254; line-height: 38px; text-align: center; background-color: #fff; color:#fe5254;font-size: 16px;}
.right_btn:hover{  background: #fe5254;  color:#fff;  box-shadow: 0px 10px 10px #ffdcdc;}
.pager{padding:10px 30px; width:100%; height:50px; }
.pager li{ float: left; width:100px;  }
.red{ color: #fe5254;}
.des{border:1px solid #efefef; border-radius: 5px; background-color: #eee; width:100%; height:auto; padding:10px;}
.body{width:100%; padding: 20px 0; font-size:14px; color:#333;}
.body p{ line-height: 30px; padding:10px 0; text-indent: 20px; }
.messageList{ width:100%; padding-left:30px; padding-top:20px; }
.messageBox{ border-bottom:1px solid #eee; margin-right:30px; padding-bottom:20px; }
.name .fl{ color:#999; font-size:12px; }
.name .fr{ width:200px; float:right; color:#666; text-align: right; font-size:12px;}
.messageList p{width:100%; height:30px; line-height: 30px; font-size: 14px;}
.sub_comment{ padding:10px 30px; width:100%; }
.sub_comment textarea{width:500px; height:6 0px; border:1px solid #eee; line-height: 20px;border-radius: 5px; }
.sub_comment .btn{}
.messagecount{width:100%; height:50px; line-height:30px; color:#333; font-size: 14px;  padding:10px 30px;}
.messagecount span{  width:80px; text-align: right; float:right; }